<div class="container">
  <div class="row">
    <div class="col">
      <p style="margin-bottom: 700px;">
        <span>Hola {{persona}}!</span>
        <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fas fa-sing-out-alt"></i></a>
      </p>
    </div>
  </div>
</div>